.headerBlock {
    width: 100%;
    height: 108px;
    background-color: #212A3E;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.headerLogo {
    width: 225px;
    height: 79px;
    object-fit: cover;
    margin-top: 10px;
}

.navigatorSite {
    display: flex;
}

.navigatorTarget {
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.3s ease-in-out;
    margin: 34px;
     color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; 
}



.navigatorTarget:hover {
    border-bottom: 2px solid white; 
}


.btnLogReg{
    width: 150px;
    height: 47px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #E8E8E8;
    cursor: pointer;
}

.auth-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(135deg, #4f46e5, #3b82f6);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .auth-btn:hover {
    background: linear-gradient(135deg, #4338ca, #2563eb);
    transform: translateY(-2px);
  }
  
  .auth-btn:active {
    transform: scale(0.97);
  }
  
  .logout {
    background: linear-gradient(135deg, #ef4444, #dc2626);
  }
  
  .logout:hover {
    background: linear-gradient(135deg, #b91c1c, #991b1b);
  }

  
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    color: #000;
    transition: background 0.5s, color 0.5s;
  }
  
  body.dark-mode {
    background: linear-gradient(to bottom, #1f1f1f, #121212);
    color: #f1f1f1;
  }
  
  .dark-mode .result-box,
  .dark-mode .forecast-item {
    background-color: #2a2a2a !important;
    color: white !important;
  }
  
  .theme-toggle-btn {
    background-color: #3e53cc;
    border: 1px solid #888;
    color: inherit;
    height: 40px;
    margin-top: 30px;
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
  }