.headerBlock {
    width: 100%;
    height: 108px;
    background-color: #212A3E;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.headerLogo {
    width: 225px;
    height: 79px;
    object-fit: cover;
    margin-top: 10px;
}

.navigatorSite {
    display: flex;
}

.navigatorTarget {
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.3s ease-in-out;
    margin: 34px;
     color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; 
}



.navigatorTarget:hover {
    border-bottom: 2px solid white; 
}


.btnLogReg{
    width: 150px;
    height: 47px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #E8E8E8;
    cursor: pointer;
}

.auth-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(135deg, #4f46e5, #3b82f6);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .auth-btn:hover {
    background: linear-gradient(135deg, #4338ca, #2563eb);
    transform: translateY(-2px);
  }
  
  .auth-btn:active {
    transform: scale(0.97);
  }
  
  .logout {
    background: linear-gradient(135deg, #ef4444, #dc2626);
  }
  
  .logout:hover {
    background: linear-gradient(135deg, #b91c1c, #991b1b);
  }